            body {background-color: rgb(220,254,200);font-family:helvetica,Times, courier;}
            header {width:50%;border:solid; line-height:300%;color:aquamarine;background-color:azure;margin-left: 25%;margin-right: auto;}
            nav {background-color:#00d237;color: rgb(10,10,230);text-indent: 5px;padding-bottom: .5em;width: 100%;}
            nav ol {padding: 5em;}
            nav ul {border:solid; background-color: rgb(0, 220, 255);}
            li.nested-list {color:#ffff0f;}
            li.not-nested-list a {color:#ad05af;}
           	nav ol li {background-color:lightgreen;padding-right: 2.5em;padding-bottom: 3em;}
            main {border: solid; background-color: aquamarine;float:left;font-size:20px; width: 46%; height: 700px; margin-left:25%;margin-right: auto; padding: 2%;}
            h1 {color:deepskyblue;text-align:center;font-family:jazz LET, fantasy,cursive, arial;font-size:x-large;font-style:oblique;font-variant:small-caps;font-weight:200;font-size: 90px;}
            h2 {color:rebeccapurple;font-family:sans-serif;font-size:40px;text-align:center;}
            a:hover {font-weight:bold; color:deeppink;}
            footer {background-color: mediumpurple; position: fixed; width: 100%; height: 6%; bottom: 0%; left: 0%;}
            #copyright {float: right; padding-right: 3em;}
            .main-nav {position: absolute; left: 0%; width: 25%; height: 700px;}
            .aside-nav {position: absolute; display: flex; width: 25%; height: 700px; right: 0%; justify-content: center; padding-top: 3%;}
            .aside-nav li {margin: 6%; list-style-type: none;}
            .no-borders {border: none; background-color: #00d237;}
            .subject {text-align: center;}
            .subject li {margin-left: -16%;}