            body {background-color: rgb(220,254,200);font-family:helvetica,Times, courier;}
            header {width:50%;border:solid; line-height:300%;color:aquamarine;background-color:azure;margin-left: 25%;margin-right: 25%;}
            nav {background-color:#00d237;color: rgb(10,10,230);text-indent: 5px;padding-bottom: .5em;width: 100%}
            nav ol {background-color:darkturquoise;padding: .5em}
            nav ul {border:solid;}
            li.nested-list {color:#ffff0f;}
            li.not-nested-list a {color:#ad05af;}
           	nav ol li {background-color:darkseagreen;float:left;padding-right: 2.5em;}
            main {color:purple;font-size:20px;margin-left:200px;margin-right: 200px;}
            h1 {color:deepskyblue;text-align:center;font-family:jazz LET, fantasy,cursive, arial;font-size:x-large;font-style:oblique;font-variant:small-caps;font-weight:200;font-size: 90px}
            h2 {color:rebeccapurple;font-family:sans-serif;font-size:40px;text-align:center;}
            a:hover {font-weight:bold; color:deeppink;}
